.idea
*.pyc
horovod/.*
horovod
.pytest_cache
*/.pytest_cache
*pytest_cache
*__pycache__
read_source_code
read_source_code/*
scripts/graph
scripts/graph/*
graph
graph/*


data/*
snapshots/*/*
*.onekey.ak
SN
results/*/*